.hamburger {
  display: flex;
  flex-direction: column;
  width: 32px;
  height: 28px;
  justify-content: space-between;
  border: 2px solid white;
  padding: 5px;
  border-radius: 5px;
}
.line {
  width: 100%;
  height: 2px;
  background-color: white;
}
.menu {
  /* border: 2px solid red; */
  position: absolute;
  width: 60vw;
  top: 100px;
  right: 0;
  list-style: none;
  background-color: #d1411e;
  margin: -2px;
  color: white;
  height: 100vh;
  transition: all 1s ease;
}

.menuItem {
  font-size: 18px;
  margin: 10px 0;
}
